{% extends "todos/base.html" %}

{% block title %}To Do - Delete Task {{todo.id}}{% endblock %}
{% block content %}

  <p>
    <h3>Delete Task</h3>
  </p>

  <div class="form-group">
    <div class="todo_form">
      <form method="POST">
 
        <!-- Security token -->
        {% csrf_token %}

        <strong>Are you sure you want to delete this task ?</strong>
        <button type="submit" class="btn btn-danger">Yes</button>
      </form>
    </div>
  </div>

  <br>
  <p>
    <a href="{% url 'todos:detail' todo.id %}" class="btn btn-secondary">Back</a>
  </p>  
{% endblock %}
