{% extends "todos/base.html" %}

{% block title %}To Do - Edit Task {{todo.id}}{% endblock %}
{% block content %}

  <p>
    <h3>Edit Task</h3>
  </p>

  <div class="todo_form">
    <form method="POST">
 
      <!-- Security token -->
      {% csrf_token %}
 
      {{ form.as_p }}
     
      <input type="submit" value="Update" />
    </form>
  </div>

  <div class="temperature" id="{{todo.location}}">
  </div>
  
  <a href="{% url 'todos:show' todo.id %}" class="btn btn-secondary">Back</a>
{% endblock %}
